einops==0.8.2
facenet_pytorch==2.6.0
matplotlib
numpy==1.26.4
opencv_python==4.11.0.86
pandas
Pillow==10.2.0
scikit_learn
scipy
torch==2.2.2
torch_summary==1.4.5
torchvision==0.17.2
vit_pytorch==1.17.8
pyyaml
timm==1.0.26
psutil
setproctitle
seaborn